@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer components {
  section {
    @apply scroll-mt-28;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    @apply scroll-smooth select-none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
  }

  html,
  body {
    @apply w-screen;
    background-color: #070d16;
  }
}
